<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
	xmlns:context="http://www.springframework.org/schema/context">




	<bean id="circle" class="com.pragatisoftware.bean.Circle">
		<property name="center" ref="center"></property>
	</bean>



	<bean id="center" class="com.pragatisoftware.bean.Point">
		<property name="x" value="10"></property>
		<property name="y" value="10"></property>
	</bean>

	<context:annotation-config />
	<context:component-scan base-package="com.pragatisoftware.bean"></context:component-scan>
</beans> 



































