<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd" [
<!ENTITY contextInclude SYSTEM "org/springframework/web/context/WEB-INF/contextInclude.xml">
]>
<!-- <beans>
	<bean id="point" class="com.tech.infrasoft.app.Triangle"></bean>//1
	<bean id="X" class="com.tech.infrasoft.app.Point"></bean>//1
</beans> -->
<!-- autowire="no/byName/byType/constructor/autodetect/default" -->
<beans>
	<bean id="triangle" class="com.tech.infrasoft.app.Triangle" autowire="byName">
	
	</bean>
	<bean id="pointA" class="com.tech.infrasoft.app.Point">
	  <property name="x" value="1"></property>
	  <property name="y" value="5"></property>    
	</bean>
	<bean id="pointB" class="com.tech.infrasoft.app.Point">
	  <property name="x" value="1"></property>
	  <property name="y" value="2"></property>    
	</bean>
	<bean id="pointC" class="com.tech.infrasoft.app.Point">
	  <property name="x" value="3"></property>
	  <property name="y" value="4"></property>    
	</bean>
	

</beans>